* {
  margin: 0;
  padding: 0;
}

.margen {
  margin-top: 1rem;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: underline;
}

.fas {
  cursor: pointer;
}

.Clicado {
  color: green;
}

html {
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("./img/fondo.jpg");
  background-size: cover;
  overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "Montserrat", sans-serif;
}

body nav {
  height: 5vh;
  background-color: #262626;
  padding: 1rem;
  width: 97.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

body nav img {
  padding: 0 1rem 0 0.3rem;
  height: 20px;
  width: 30px;
}

body .Curriculum {
  background-color: #242424;
  width: 65%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-left: 2px black solid;
  border-right: 2px black solid;
  text-align: center;
}

body .Curriculum .Title {
  color: white;
  font-size: 2rem;
  margin: 4rem 0 1rem 0;
}

body .Curriculum .Name {
  padding: 1rem 0 4rem 0;
  font-size: 1.7rem;
  color: white;
  text-align: center;
}

body .Curriculum hr {
  width: 75%;
  border-color: wheat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12.5%;
}

body .Curriculum section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37% 63%;
      grid-template-columns: 37% 63%;
  font-family: "Fraunces", serif;
}

body .Curriculum section .contactData {
  text-align: left;
  padding-top: 1rem;
  padding-left: 0.5rem;
  background-color: #e0e0e2;
}

body .Curriculum section .contactData .title {
  background-color: white;
  width: 60%;
  margin: 2rem 0 1rem 20%;
  text-align: center;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

body .Curriculum section .contactData hr {
  width: 95%;
  margin: 0 0 0.5rem 0;
}

body .Curriculum section .contactData div {
  padding-bottom: 0.5rem;
}

body .Curriculum section .contactData div #email {
  margin: 0 0.1rem 0 0.3rem;
}

body .Curriculum section .contactData b {
  font-size: 1.2rem;
}

body .Curriculum section .contactData .socialMedia a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .Curriculum section .contactData .socialMedia a i {
  font-size: 2rem;
}

body .Curriculum section .contactData .socialMedia a p {
  padding-left: 0.5rem;
}

body .Curriculum section .contactData .socialMedia a:last-child i {
  font-size: 1.6rem;
}

body .Curriculum section .contactData .socialMedia a:last-child p {
  padding: 0.4rem;
}

body .Curriculum section .contactData .education h2 {
  margin-top: 2rem;
}

body .Curriculum section .contactData .education hr {
  width: 95%;
  margin: 0;
}

body .Curriculum section .contactData .education div {
  margin: 0.5rem 0 0 1rem;
}

body .Curriculum section .contactData .education div p {
  margin: 0.3rem 0 0 0;
}

body .Curriculum section .mainContent {
  background-color: #fafafa;
  padding: 1rem;
}

body .Curriculum section .mainContent h2 {
  font-size: 2rem;
  margin-top: 0.7rem;
}

body .Curriculum section .mainContent h3 {
  font-size: 1.7rem;
}

body .Curriculum section .mainContent ul {
  width: 90%;
  margin-left: 5%;
}

body .Curriculum section .mainContent ul li {
  margin-bottom: 0.3rem;
  list-style: square;
}

body .Curriculum section .mainContent hr {
  width: 90%;
  margin: 0 0 0.5rem 5%;
}

body .Curriculum section .mainContent p,
body .Curriculum section .mainContent li,
body .Curriculum section .mainContent a {
  font-size: 1.1rem;
  text-align: justify;
}

body .Curriculum section .mainContent .Width {
  width: 90%;
  margin-left: 5%;
}

body .Curriculum section .mainContent .knowledge ul li {
  margin: 0 0 0.2rem 1rem;
}

body .Curriculum section .mainContent .profecionalExperience h4 {
  text-align: left;
  font-size: 1.4rem;
  width: 90%;
  margin: 1rem 0 0 5%;
}

body .Curriculum section .mainContent .profecionalExperience li {
  margin-left: 1rem;
}

body .Curriculum section .mainContent .profecionalExperience li:last-child {
  margin-bottom: 0rem;
}

body footer {
  height: 5vh;
  width: 97.9%;
  background-color: #262626;
  padding: 1rem;
  color: white;
}

body footer div a {
  color: white;
}

@media (max-width: 1200px) {
  body .Curriculum {
    width: 100%;
  }
}

@media (max-width: 920px) {
  body .Curriculum section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData .title {
    margin: 1rem 0 0.5rem 0;
  }
  body .Curriculum section .contactData .education {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData .education h2 {
    margin: 1rem 0 0.5rem 0;
  }
  body .Curriculum section .contactData .education hr {
    margin: 0.5rem 0 0 0;
    width: 70%;
  }
}

@media (max-width: 450px) {
  body .Curriculum .Title {
    font-size: 1.8rem;
  }
  body .Curriculum .Name {
    font-size: 1.4rem;
  }
  body .Curriculum section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData .title {
    margin: 1rem 0 0.5rem 0;
  }
  body .Curriculum section .mainContent h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 365px) {
  body .Curriculum .Title {
    font-size: 1.5rem;
  }
  body .Curriculum .Name {
    font-size: 1.2rem;
  }
  body .Curriculum section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Curriculum section .contactData .title {
    margin: 1rem 0 0.5rem 0;
  }
  body .Curriculum section .contactData .correo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
  }
  body .Curriculum section .contactData .correo i {
    padding: 0.3rem;
  }
  body .Curriculum section .contactData .web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
    margin: 0 0 0.8rem 0;
  }
  body .Curriculum section .mainContent h2 {
    font-size: 1.7rem;
  }
  body .Curriculum section .mainContent .profecionalExperience h4 {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */