@mixin center {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

@mixin rowCenter {
   display: flex;
   justify-content: center;
   flex-direction: row;
}

@mixin columnCenter {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

@mixin column {
   display: flex;
   flex-direction: column;
}

@mixin row {
   display: flex;
   flex-direction: row;
}

@mixin fullv {
   width: 100vw;
   height: 100vh;
}

@mixin full {
   width: 100%;
   height: 100%;
}
