@media (max-width: 280px){
    .contactData{
        font-size: .8rem;
    }
    .socialMedia{
        font-size: 1rem;
    }
}

@media (max-width: 800px){
    section{
        display: flex;
        flex-direction: column;
    }
    h1{
        text-align: center;
        font-size: 1.8rem;
    }
    .contactData b{
        font-size: 1rem;
    }
    
    .socialMedia div div a img{
        margin-top: 0rem;
    }
    .mainContent h2{
        font-size: 2rem;
    }
}

@media (max-width: 1024px){
    body{
        background-color: #262626;
    }
    .Curriculum{
        width: 100%;
    }
    section, .Curriculum{
        height: 100%;
    }
}