* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./img/fondo.jpg");
    background-size: cover;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

.margen {
    margin-top: 1rem;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: underline;
}

/* Navbar */
img {
    margin-top: 0.3rem;
    height: 20px;
    width: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Content */
.Title {
    color: white;
}
.Title2 {
    color: white;
    padding: 0 0 1rem 0;
}

h1 {
    font-size: 2rem;
    padding: 5rem 0rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

hr {
    width: 75%;
    border-color: wheat;
    align-items: center;
    margin-left: 12.5%;
}
.Name {
    padding: 1rem 0 4rem 0;
    font-size: 1.7rem;
}
h2,
h3,
.Name {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}
h4 {
    font-size: 1.4rem;
    margin-left: 12.5%;
}

.Curriculum {
    background-color: #242424;
    width: 63%;
    height: fit-content;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

section {
    display: grid;
    grid-template-columns: 36% 64%;
    font-family: "Fraunces", serif;
}

/* Contact data */

.contactData {
    padding-top: 1rem;
    padding-left: 0.5rem;
    background-color: #e0e0e2;
}

.contactData .contactTitle {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contactData div {
    padding-bottom: 0.5rem;
}

.contactData div #email {
    margin-left: 0.3rem;
}

.contactData b {
    font-size: 1.2rem;
}

.socialMedia a {
    text-decoration: none;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.socialMedia a i {
    font-size: 2rem;
}

.socialMedia a p {
    padding-left: 0.5rem;
}

/* Main content */

.mainContent {
    background-color: #fafafa;
    padding: 1rem;
}

.Width,
.mainContent hr,
.mainContent ul,
h4 {
    width: 90%;
    margin-left: 5%;
}

.mainContent p,
.mainContent li,
.mainContent a {
    font-size: 1.1rem;
    text-align: justify;
}

.mainContent hr {
    margin-bottom: 0.5rem;
}

.mainContent h2 {
    margin-top: 0.7rem;
}

.mainContent h4 {
    margin-top: 0.3rem;
}

.profecionalExperience li {
    margin-left: 1rem;
}

.profecionalExperience li:last-child {
    margin-bottom: 0rem;
}

.mainContent ul li {
    margin-bottom: 0.3rem;
    list-style: square;
}

/* footer */

footer,
nav {
    height: 5vh;
    background-color: #262626;
    padding: 1rem;
    width: 97.9%;
}

footer {
    margin-top: auto;
    padding-left: 1rem;
    bottom: absolute;
    position: 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer div a {
    color: white;
}

/* Events */
.fas {
    cursor: pointer;
}

.Clicado {
    color: green;
}
