* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("./img/25776.jpg");
  background-size: cover;
}

html{
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

li{
  list-style: none;
}

a{
  color: black;
}

/* Navbar */
img {
  margin-top: .3rem;
  height: 20px;
  width: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

/* Content */
h1 {
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}

.Curriculum {
  background-color: #41B7D1;
  width: 63%;
  height: fit-content;
  border-left: 2px black solid;
  border-right: 2px black solid;
}

section{
  display: grid;
  grid-template-columns: 36% 64%;
  font-family: 'Fraunces', serif;
}

.contactData{
  padding-top: 1rem;
  padding-left: .5rem;
  background-color: #E0E0E2;
}

.contactData div{
  padding-bottom: .5rem;
}

.contactData div #email{
  margin-left: .3rem;
}

.contactData b{
  font-size: 1.2rem;
}

.socialMedia div{
  display: flex;
}

.socialMedia div a{
  text-decoration: none;
}

.socialMedia div p{
  margin-top: .3rem;
  margin-left: .5rem;
}

.socialMedia div div a img{
  height: 27px;
  width: 25px;
}

.mainContent{
  background-color: #FAFAFA;
  padding: 1rem;
}

.mainContent p, .mainContent li, .mainContent a{
  font-size: 1.1rem;
  text-align: justify;
}

.mainContent hr{
  margin-bottom: .5rem;
}

.mainContent h2{
  margin-top: .7rem;
}

.mainContent h4{
  margin-top: .3rem;
}

.knowledge ul{
  margin-left: 2.1rem;
}

.knowledge ul li, .profecionalExperience li{
  margin-bottom: .3rem;
  list-style:square;
}

.profecionalExperience li{
  margin-left: 1rem;
}

.profecionalExperience li:last-child{
  margin-bottom: 0rem;
}

.lenguages ul li, .hobbies ul li{
  margin-bottom: .3rem;
  margin-left: 2.1rem;
  list-style:square;
}

/* footer */
footer,
nav {
  height: 5vh;
  background-color: #262626;
  padding: 1rem;
  width: 97.9%;
}

footer {
  margin-top: auto;
  padding-left: 1rem;
  bottom: absolute;
  position: 0;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer div a {
  color: white;
}

/* Events */
.fas {
  cursor: pointer;
}

.Clicado{
  color: green;
}